* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.container {
    max-width: 960px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid rgb(141, 138, 138);
}

.wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 50vh;
}

.img-animals {
    display: flex;
    column-gap: 15px;
    justify-content: center;
    align-items: center;
}

.img-animal {
    max-width: 150px;
}

.image-anmls {
    width: 100%;
}

.img-foods {
    display: flex;
    column-gap: 15px;
    justify-content: center;
    align-items: center;
}

.img-food {
    max-width: 150px;
}

.image-food {
    width: 100%;
}

.modal {
    display: none;
    z-index: 100;
    width: 100%;
    height: 100%;
    color: #e8ecfb;
    position: fixed;
    overflow: auto;
    transition: width 2s;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal--show {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.modal-inner {
    max-width: 380px;
    background: #393F47;
    padding: 85px 30px;
    position: relative;
    border-radius: 15px;
    text-align: center;
}

.title {
    font-size: 30px;
    margin-bottom: 50px;
}

.btn {
    border: none;
    border-radius: 15px;
    background-color: #e8ecfb;
    cursor: pointer;
    font-size: 18px;
    max-width: 150px;
    width: 100%;
    padding: 12px 0;
}

.hide {
    display: none;
}

.modal-error {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateX(+100%);
}

.text {
    font-size: 20px;
}

.modal-error-inner {
    background: linear-gradient(90deg, #aea4e3, #d3ffe8);
    padding: 45px;
    border-radius: 20px 0 0;
    box-sizing: border-box;
}
.animation {
    animation: modal-err 3s ease-in-out infinite;
}
@keyframes modal-err {
    from {
        transform: translateX(+100%);
    }

    30% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(0);
    }

    80% {
        transform: translateX(0);
    }

    to {
        transform: translateX(+100%);
    }
}